@import 'variables';
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Bonheur';
  src: url('../fonts/Bonheur_Royale.woff') format('woff'),
  url('../fonts/Bonheur_Royale.ttf') format('truetype');
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(22, 12, 28, 0.6);
  height: 95px;

  .navbar-brand {
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-size: 12px;

    h2 {
      margin: 0;
    }
  }

  .phone, .address {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    color: #fff;
  }

  .phone {
    margin-right: 105px;
    line-height: 48px;
  }

  .address {
    float: right;
  }
}

header, footer, .menu, .social {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header, footer {
  padding: 10%;

  h1 {
    font-size: 8rem;
    line-height: 4rem;
    color: #fff;
    margin-bottom: 15px;
  }
}

// Navbar
header {
  padding-top: calc(10% + 95px);
  background: url("../img/header_bg.png") no-repeat center center;

  .welcome {
    display: block;
    position: relative;
    color: #e16503;
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 5px;
    text-transform: uppercase;

    &:after {
      display: block;
      position: absolute;
      content: " ";
      height: 1px;
      width: 50%;
      background-color: #e16503;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  .buttons {
    margin-top: 65px;

    a {
      display: inline-block;
      margin: 0 10px;
      padding: 10px 40px;
      border: 1px solid #fff;
      font-size: 0.8rem;
      color: #fff;
      text-transform: uppercase;
      transition: all 0.1s ease;

      &:hover {
        background-color: #e16503;
        border-color: #e16503;
        color: #160c1c;
        text-decoration: none;
      }
    }
  }
}




// About Us
.about-us {
  position: relative;

  img.food {
    position: absolute;
    top: 0;
    width: 45%;
    right: 0;
    height: auto;
    z-index: 1;
    -webkit-filter: drop-shadow(30px 30px 30px #191919);
    filter: drop-shadow(30px 30px 30px #191919);
  }
}




// Menu
.menu {
  background: url("../img/menu_bg.png") no-repeat center center;
  color: #fff;

  .item {
    display: inline-block;
    width: 40%;
    float: left;
    text-align: left;
    margin: 0 5% 50px 5%;
    white-space: nowrap;

    .info, .price {
      display: inline-block;
    }
    .info {
      font-size: 0.9rem;
      text-align: left;
    }
    .price {
      float: right;
      color: #e16503;
      font-family: 'Bonheur', sans-serif;
      line-height: 1.8rem;
      font-size: 2rem;
    }
  }
}





// Write to us
.contact {
  position: relative;

  img.food {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    width: 50%;
    height: auto;
    -webkit-filter: drop-shadow(30px 30px 30px #191919);
    filter: drop-shadow(30px 30px 30px #191919);
  }
}




// Testimonials
.testimonials {
  .item {
    width: 100%;
    text-align: center;

    .photo {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 30px;

      img {
        position: relative;
        width: 100%;
        max-width: 250px;
        height: auto;
        z-index: 999;
        -webkit-box-shadow: 0 0 42px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 0 42px -8px rgba(0,0,0,0.75);
        box-shadow: 0 0 42px -8px rgba(0,0,0,0.75);
      }
    }
  }
}






// Social
.social {
  background: url("../img/social.png") no-repeat center center;
  color: #fff;

  .item {
    position: relative;

    .open {
      display: block;
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      bottom: 0;
      background-color: #000;
      opacity: 0;
      z-index: 999;
      transition: opacity 0.3s ease-in-out;

      &:before {
        display: flex;
        width: 100%;
        height: 90%;
        align-items: center;
        justify-content: center;
        align-self: center;
        content: '+';
        font-size: 10rem;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    img {
      width: 100%;
    }
  }
}






// Map
.map {
  padding: 0;
  z-index: -1;

  .container {
    position: relative;

    #map {
      width: 100%;
      height: 500px;
      background-color: grey;
      -webkit-box-shadow: 3px 50px #b4b4b4,  -3px 0 50px #b4b4b4;
      -moz-box-shadow: 3px 0 50px #b4b4b4,  -3px 0 50px #b4b4b4;
      box-shadow: 3px 0 50px #b4b4b4,  -3px 0 50px #b4b4b4;
    }

    .form {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 10%;
      bottom: 10%;
      height: auto;
      left: 5%;
      width: 30%;
      background-color: #160c1c;
      color: #fff;
      text-align: center;
      z-index: 999;

      hr {
        border: none;
        color: #e16503;
        background-color: #e16503;
        height: 2px;
        width: 30%;
      }
    }
  }
}





// Footer
footer {
  padding-bottom: 0;
  color: #FFF;
  background: url("../img/footer_bg.png") no-repeat center center;

  h1 {
    margin-bottom: 10%;
  }

  span {
    display: inline-block;
  }
}

// Global
h1, h2, h3, h4 {
  font-family: 'Bonheur', sans-serif;
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 50px;
}

h2 {
  font-size: 3rem;
}

section {
  position: relative;
  padding: 5% 0;
}

.book-table, .contact {
  background-color: #170c1c;
  color: #FFF;
  h1 {
    color: #FFF;
  }
  form {
    button {
      width: 100%;
    }
  }
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  width: 100%;
  margin-bottom: 25px;
}

button {
  background-color: #e16503;
  border-color: #e16503;
  color: #FFF;
}

p {
  text-indent: 1.5rem;
}

.bg-lines {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-30%);
  width: 100%;

  hr {
    width: 100%;
    margin: 25px 0;
    background-color: #e16503;
  }
}

@import 'mobile';